{% extends 'project_site.html' %}
{% block title %}Data{% endblock %}
{% block content1 %}

    <button type="button" onclick="window.location.href = 'BOOK_LIST';">BOOK_LIST</button>
    <button type="button" onclick="window.location.href = 'ADD_BOOK';">ADD_BOOK</button>
    <button type="button" onclick="window.location.href = 'WORD_LIST';">WORD_LIST</button>
    <button type="button" onclick="window.location.href = 'ADD_WORD';">ADD_WORD</button>

{% endblock %}
{% block content2 %}

{% endblock %}
